<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
    </settings>

    <!--<plugins>-->
        <!--<plugin interceptor="com.github.abel533.mapperhelper.MapperInterceptor">-->
            <!--<property name="mappers" value="com.github.abel533.mapper.Mapper"/>-->
            <!--<property name="IDENTITY" value="MYSQL"/>-->
            <!--<property name="notEmpty" value="true"/>-->
        <!--</plugin>-->
        <!--<plugin interceptor="com.qbao.baoy.datasource.table.TableInterceptor">-->
            <!--<property name="shardingConfig" value="dtd/shardtable-config.xml"/>-->
        <!--</plugin>-->
    <!--</plugins>-->
</configuration>